body {
    background: url(../images/trava.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Отступы*/
.card {
    margin-top: 20%;
}
/* Обработка ошибок*/
form .error {
    border-color: red;
}

label.error {
    color: red;
}

